n8n-workflow.json
{
  "name": "Bug Tracker - Publish to Azure DevOps Backlog",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bug-to-backlog",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Bug Tracker Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        200
      ],
      "webhookId": "bug-to-backlog"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.azure.com/access-devops/Hospitality%20Accommodation/_apis/wit/workitems/$Dev%20Bug?api-version=7.0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json-patch+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([\n  {\n    op: 'add',\n    path: '/fields/System.Title',\n    value: '[' + $json.body.id + '] ' + $json.body.title\n  },\n  {\n    op: 'add',\n    path: '/fields/System.Description',\n    value: '<b>Bug ID:</b> ' + $json.body.id + '<br><b>Severity:</b> ' + $json.body.severity + '<br><b>Reported by:</b> ' + $json.body.tester + '<br><b>Page:</b> ' + $json.body.page + '<br><b>Device:</b> ' + $json.body.device + '<br><b>Category:</b> ' + ($json.body.category || 'N/A') + '<hr><p>' + $json.body.description + '</p>' + (($json.body.attachments && $json.body.attachments.length) ? '<hr><b>Attachments:</b><br>' + $json.body.attachments.map(a => a.type && a.type.startsWith('image/') ? '<p><b>' + a.name + '</b><br><img src=\"' + a.url + '\" alt=\"' + a.name + '\" style=\"max-width:600px\"></p>' : '<p><a href=\"' + a.url + '\">' + a.name + '</a></p>').join('') : '')\n  },\n  {\n    op: 'add',\n    path: '/fields/Microsoft.VSTS.Common.Severity',\n    value: ({ critical: '1 - Critical', high: '2 - High', low: '3 - Medium' })[$json.body.severity] || '3 - Medium'\n  },\n  {\n    op: 'add',\n    path: '/fields/System.Tags',\n    value: 'bug-tracker; ' + $json.body.severity + '; ' + $json.body.tester\n  },\n  {\n    op: 'add',\n    path: '/fields/Microsoft.VSTS.TCM.ReproSteps',\n    value: '<p>' + $json.body.description + '</p>' + (($json.body.attachments && $json.body.attachments.length) ? '<hr><b>Attachments:</b><br>' + $json.body.attachments.map(a => a.type && a.type.startsWith('image/') ? '<p><b>' + a.name + '</b><br><img src=\"' + a.url + '\" alt=\"' + a.name + '\" style=\"max-width:600px\"></p>' : '<p><a href=\"' + a.url + '\">' + a.name + '</a></p>').join('') : '')\n  },\n  {\n    op: 'add',\n    path: '/fields/System.AreaPath',\n    value: 'Hospitality Accommodation\\\\EVO-IBE'\n  }\n]) }}",
        "options": {}
      },
      "id": "a1b2c3d4-2222-4000-8000-000000000002",
      "name": "Create Azure DevOps Bug",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        200
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Azure DevOps PAT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Bug Tracker Webhook').item.json.body.request_devin }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a1b2c3d4-5555-4000-8000-000000000005",
      "name": "Request Devin?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.devin.ai/v1/sessions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  prompt: 'Fix the following bug in the EVO IBE codebase:\\n\\nBug ID: ' + $('Bug Tracker Webhook').item.json.body.id + '\\nTitle: ' + $('Bug Tracker Webhook').item.json.body.title + '\\nSeverity: ' + $('Bug Tracker Webhook').item.json.body.severity + '\\nPage: ' + $('Bug Tracker Webhook').item.json.body.page + '\\nDevice: ' + $('Bug Tracker Webhook').item.json.body.device + '\\nCategory: ' + ($('Bug Tracker Webhook').item.json.body.category || 'N/A') + '\\nDescription: ' + $('Bug Tracker Webhook').item.json.body.description + '\\n\\nBacklog URL: ' + ($json._links && $json._links.html && $json._links.html.href || 'N/A')\n}) }}",
        "options": {}
      },
      "id": "a1b2c3d4-6666-4000-8000-000000000006",
      "name": "Create Devin Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_DEVIN_CREDENTIAL_ID",
          "name": "Devin API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, workItemId: $('Create Azure DevOps Bug').item.json.id, url: $('Create Azure DevOps Bug').item.json._links && $('Create Azure DevOps Bug').item.json._links.html && $('Create Azure DevOps Bug').item.json._links.html.href || '', devin_session: $json.session_id || null }) }}"
      },
      "id": "a1b2c3d4-7777-4000-8000-000000000007",
      "name": "Success Response (Devin)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, workItemId: $json.id, url: $json._links && $json._links.html && $json._links.html.href || '' }) }}"
      },
      "id": "a1b2c3d4-3333-4000-8000-000000000003",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        500,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Failed to create work item' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a1b2c3d4-4444-4000-8000-000000000004",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        500
      ]
    }
  ],
  "connections": {
    "Bug Tracker Webhook": {
      "main": [
        [
          {
            "node": "Create Azure DevOps Bug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Azure DevOps Bug": {
      "main": [
        [
          {
            "node": "Request Devin?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Devin?": {
      "main": [
        [
          {
            "node": "Create Devin Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Devin Session": {
      "main": [
        [
          {
            "node": "Success Response (Devin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}